.techMarket {
  &.radio-field {
    > label {
      font-weight: bold;
    }
    .radio {
      > input[type="radio"] {
        + label {
          display:    block;
          min-height: 100px;
          &::after {
            display:             block;
            position:            absolute;
            z-index:             -1;
            left:                0;
            right:               0;
            bottom:              0;
            top:                 10px;
            background-size:     contain;
            content:             '';
            background-color:    transparent;
            background-position: right bottom;
            background-repeat:   no-repeat;
            opacity:             0.7;
            border-radius:       0 !important;
          }
        }
        &:checked + label::after {
          width:            auto !important;
          height:           auto !important;
          background-color: transparent;
          opacity:          1;
        }
      }
      > input[value="287x166"] {
        + label::after {
          background-image: url("../images/banners/287x166.png");
        }
      }
      > input[value="414x256"] {
        + label::after {
          background-image: url("../images/banners/414x256.png");
        }
      }
      > input[value="420x260"] {
        + label::after {
          background-image: url("../images/banners/420x260.png");
        }
      }
      > input[value="500x465"] {
        + label::after {
          background-image: url("../images/banners/500x465.png");
        }
      }
      > input[value="700x510"] {
        + label::after {
          background-image: url("../images/banners/700x510.png");
        }
      }
      > input[value="750x563"] {
        + label::after {
          background-image: url("../images/banners/750x563.png");
        }
      }
      > input[value="860x260"] {
        + label::after {
          background-image: url("../images/banners/860x260.png");
        }
      }
      > input[value="870x484"] {
        + label::after {
          background-image: url("../images/banners/870x484.png");
        }
      }
      > input[value="1300x260"] {
        + label::after {
          background-image: url("../images/banners/1300x260.png");
        }
      }
      > input[value="1450x236"] {
        + label::after {
          background-image: url("../images/banners/1450x236.png");
        }
      }
      > input[value="1920x650"] {
        + label::after {
          background-image: url("../images/banners/1920x650.png");
        }
      }
      > input[value="1920x900"] {
        + label::after {
          background-image: url("../images/banners/1920x900.png");
        }
      }
    }
  }
}